<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/pinpng.com-weather-icons-png-transparent-6916188.png">
    <link rel="stylesheet" href="styles/css/styles.css">
</head>