<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="Site">
    <div class="Site-content">
        {{>header}}
        <img class="about-image" src="./img/F_SHARPER_VERSION_OF_D.jpg" alt="Image of Maria">
    </div>
    {{>footer}}
</body>

</html>