<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="Site">
    <div class="Site-content">
        {{>header}}
        <div class="wrapper">
            <p class="help-info">{{message}}</p>
        </div>
    </div>
    {{>footer}}
</body>

</html>