<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="Site">
    <div class="Site-content">
        {{>header}}
        <div class="wrapper">
            <p class="weather-info">{{message}}</p>
            <form type="submit" id="search">

                <input id="weather-input" type="text" placeholder="search location" autofocus>
                <button id="submit">Go!</button>
            </form>
            <output class="error-output"></output>
            <output class="weather-output"></output>
        </div>
    </div>

    {{>footer}}
    <script defer src="js/app.js"></script>
</body>

</html>