<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="Site">
    <div class="Site-content">
        {{>header}}
        <p class="info">{{message}}</p>
    </div>

    {{>footer}}

</body>

</html>