.header-nav {
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    width: 95%;

    .logo-wrapper {
        font-size: 1.3rem;
        color: rgba(118, 91, 255, 1);
    }

    a {
        color: rgba(255, 0, 173, 1);
        margin-right: 0.75rem;

        &:last-of-type {
            margin-right: 0.25rem;
        }
    }
}