.wrapper {
    margin: 0 auto;
    width: 100%;

    .help-info {
        margin-bottom: 0.5rem;
        margin-left: 0.75rem;
        margin-top: 3rem;
        width: 92%;

        @media #{$min-480} {
            margin-left: 1.25rem;
        }
    }
}